/* COOKIE */

.cookiePopup {
    background-color:#ffffff;
    position:absolute;
    bottom:2em;
    right:2em;
    font-size:12px;
    width:70vw;
    max-width:43em;
    box-shadow: 0 0 2em rgba(5, 0, 31, 0.15);
    text-align:justify;
    line-height:1.8em;
    padding:1rem 1.4em;
    border-radius:6px;
    transition: all 0.5s ease-in;
    display:inline;
  }

  .cookiePopup.active{
    display:none;
  }
  
  
  
  .cookiePopup p {
    text-align:center;
    margin:1rem 0;
    color:black;
  }
  
  .cookiePopup button {
    background-color:#034E33;
    border:none;
    color:#ffffff;
    font-size: 1.2em;
    padding: 0.8rem 1.4em;
    display:block;
    position:relative;
    margin:auto; 
    border-radius:5px;
    cursor:pointer;
  }

  .cookiePopup button a {
    color:white;
  }
  
  .acceptCookie {
    cursor:pointer;
  }
  
  .cookiePopup a {
    color:#034E33;
    font-size:12px;
  }
